<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/index.js" defer></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
				<button id="btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" onclick="toggleCancel()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar one"></span>
					<span class="icon-bar two"></span>
					<span class="icon-bar three"></span>
					</button>
				<a class="navbar-brand" href="/main">DAILY JOURNAL</a>
      </div>
			<div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li id="home" class="active"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
					<li id="blog" class="dropdown"><a href="/blog" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOG<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">PAGE IDEA</a></li>
							<li><a href="#">ADVICE</a></li>
							</ul>
					</li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>

        </ul> 
			</div>
    </div>
  </nav>

  <body>
		
    <main class="site-wrapper">
			<div class="pt-table desktop-768">
				<div class="container">
